  <h2>All Available Listings</h2>

  <div class="listings">
  <% $spaces.each do |space| %>
  <span class="item">
    <h4><a href='<%= space.id %>'><%= space.name %></a></h4>
    <span class="description"><%= space.description %></span><br>
    <span class="price"><%= space.price %></span>
  </span>
  <% end %>
  </div>

