<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
   <body>

      <%= yield %>

   </body>
 </html>
