<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>
      <link href="<%= url("/styles.css")%>" rel=“stylesheet” type=“text/css” />
  </head>
   <body>
      <%= yield %>
   </body>
 </html>
