<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
   <body>
   <h1><marquee>MAKERS BNB</marquee></h1>
      <%= yield %>

   </body>
 </html>
