<h2>Your Requests</h2>

<div class="flex">
  <div class="requestsmade">
    <span class="titleoftable">
      Requests You Have Made:
      </span>
  </div>
  <div class="requestsreceived">
    <span class="titleoftable">
      Requests You Have Received:
      </span>
  </div>
</div>
