<h4>Log in:</h4>
<div>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Enter Username"><br><br>
            <input type="text" name="password" placeholder="Enter a password"><br><br>
            <input type="submit" value="Submit">
        </form>

      </div>
