
      <h1><marquee>Makers BnB</marquee></h1>
      <h2>Sign Up</h2>

      <div>
        <form action="/signup/new" method="POST">
            <input type="text" name="email" placeholder="Enter Email"><br><br>
            <input type="text" name="username" placeholder="Enter Username"><br><br>
            <input type="text" name="password" placeholder="Enter a password"><br><br>
            <input type="submit" value="Submit">
        </form>

      </div>
