<h4>SPACE RENDERS: <%= @found_space.name %></h4>
<div class="description"><%= @found_space.description %></div>
<div class="price"><%= @found_space.price %></div>
<button class="big" value="request">REQUEST</button>