<h4>SPACE RENDERS: <%= @found_space.name %></h4>
<div class="description"><%= @found_space.description %></div>
<div class="price"><%= @found_space.price %></div>
<form action="/requesting" method="post">
<button id="request" class="big" type="submit">REQUEST</button></form>
