<h4>Thanks, <%= @user.name %>, we got your request to book <%= @space.name %></h4>

<div id="eagle">
  <div id="eagle-body">
    <div id="body"></div>
    <div id="tail"></div>
    <div id="beak"></div>
    <div id="eye"></div>
  </div>
</div>