<h4>Thanks, <%= @user.name %>, we got your request to book <%= @space.name %></h4>

<div id="bird">
  <div id="bird-body" onclick="bounce()">
    <div id="body"></div>
    <div id="tail"></div>
    <div id="beak"></div>
    <div id="eye"></div>
  </div>
</div>