<!-- Requests you have made logic -->
<div class="requestsreceived">
    <span class="titleoftable">
      Requests You Have Made:
      </span>
      <% @space_names = [] %>
      <% @tenantrequests.each do |i| %>
      <% @space_names << Space.find(id: i.space_id) %>
      <% end %>
      <% @space_names.each do |space| %>  
        <span class="requestbox">
        <span class="name">Name of space: <%= space['name'] %></span><br>
        <span class="approved">Status: <%= space['booking'] %></span><br>
        <% @landlord_names = [] %>
        <% @landlord_names << User.find(id: space.owner_id) %>
        <span class="username">Owned by: <%= @landlord_names.id[space.owner_id] %></span>
      </span>
      <% end %>
  </div>